/.venv/

__pycache__/
*.py[cod]
.pytest_cache/

.vscode/
.idea/

/wordlist/*/
!/wordlist/example/
/wordlist/example/progress.json
data/app_state.json

/wordlist/*.json
!/wordlist/example.json

*.log
.DS_Store
Thumbs.db
